[Desktop Entry]
Name=xchomp
Comment=A Pac-Man style game for the X Window System
Comment[de]=Spiel im PacMan-Stil für X
Comment[fr]=Jeu de type PacMan pour X
Comment[pl]=Gra w stylu Pac-Mana pod X
Comment[tr]=PacMan tarzý bilgisayar oyunu
Icon=xchomp.png
Exec=xchomp
Terminal=0
Type=Application
