[Desktop Entry]
Name=Xchomp
Comment=A Pac-Man style game for the X Window System
Comment[de]=Spiel im PacMan-Stil für X11
Comment[es]=Juego tipo PacMan para X11
Comment[fr]=Jeu de type PacMan pour X11
Comment[pl]=Gra w stylu Pac-Mana pod X11
Comment[pt]=Jogo tipo PacMan para X11
Comment[pt_BR]=Jogo tipo PacMan para X11
Comment[tr]=PacMan tarzı bilgisayar oyunu
Icon=xchomp.png
Exec=xchomp
Terminal=false
Type=Application
Encoding=UTF-8
# vi: encoding=utf-8
